<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>图片预览</title>
</head>
<link th:href="@{/css/viewer.min.css}" rel="stylesheet"/>
<script th:src="@{/js/lib/jquery1.10.2.min.js}"></script>
<script th:src="@{/js/lib/viewer.min.js}"></script>

<link th:href="@{/css/imageShow.css}" rel="stylesheet"/>
<script th:src="@{/js/imageShow.js}"></script>
<style>

</style>
<body onload="start('image_preview')">

<ul id="image_preview">
    <li>
        <img src="/image/tmp/1.png" alt="图片1"/>
        <img src="/image/tmp/2.png" alt="图片2"/>
        <img src="/image/tmp/3.png" alt="图片3"/>
        <img src="/image/tmp/4.png" alt="图片4"/>
        <img src="/image/tmp/5.png" alt="图片5"/>
        <img src="/image/tmp/6.png" alt="图片6"/>
        <img src="/image/tmp/7.png" alt="图片7"/>
    </li>
</ul>
</body>
</html>